{% extends "index.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">Chat Audio</legend>
    <div class="container-sm">100% wide until small breakpoint</div>
    <div class="container-md">100% wide until medium breakpoint</div>
    <div class="container-lg">100% wide until large breakpoint</div>
    <div class="container-xl">100% wide until extra large breakpoint</div>
    <div class="container-xxl">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons">
            <button class="btn btn-outline-success" type="button">Button</button>
            <button class="btn btn-outline-success" type="button">Button</button>
          </div>
    </div>
    
</div>

{% endblock content %}